* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
}

@mixin fontNunito($font-size) {
  font-family: "Nunito", sans-serif;
  font-size: $font-size;
  font-weight: 400;
  color: rgba(34, 34, 34, 1);
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
  padding: 0 120px;
  box-sizing: border-box;

  .header {
    display: flex;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #cbd6e2;

    .logo_mode_container {
      display: flex;
      align-items: center;

      .logo {
        margin-right: 40px;

        .logo_item {
          margin-right: 19px;
        }
      }

      .mode {
        display: flex;

        .mode_item {
          @include fontNunito(16px);
          text-decoration: none;
        }

        .mode_item:first-child {
          margin-right: 22px;
        }
      }
    }

    .nav {
      display: flex;
      align-items: center;

      .nav_list {
        display: flex;
        margin-right: 40px;

        .nav_item {
          margin-right: 30px;

          .nav_item_link {
            @include fontNunito(16px);
            text-decoration: none;
          }
        }

        .nav_item:last-child {
          margin-right: 0;
        }
      }

      .nav_getApp {
        @include fontNunito(18px);
        text-decoration: none;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 48px;
        padding: 12px 32px;
      }
    }
  }

  main {

    .main_block{
      display: flex;
      padding-top: 40px;
      max-width: 1440px;
      width: 100%;      
      justify-content: space-between;
      align-items: flex-end;

      .main_block_content{
        display: flex;
        flex-direction: column;   
          
        .main_block_title{
          @include fontNunito(42px);
          margin-bottom: 23px;
          font-weight: bold;
        }

        .main_block_description {
          @include fontNunito(18px);
        }        
      }

      .main_block_image{        
        width: 50%;
        height: auto;
      }     
    }

    .main_block_top{
      margin-bottom: 100px;

      .video_link_wrapper{
        position: relative;
        margin-bottom: 35px;
        padding-left: 40px;
        padding-top: 7px;
      }

      .video_link{
        @include fontNunito(16px);
        text-decoration: none;       
      }

      .video_link::before{
        content: url(./images/video_link_icon.png);
        position: absolute;
        transform-origin: 50% 44% 0;
        top: 0;
        left: 0;      
        transform: rotateZ(0deg);  
        transition-duration: 1000ms;
      }

      .video_link_wrapper:hover .video_link::before{ 
        transform-origin: 50% 44% 0;       
        transform: rotateZ(360deg);  
        transition-duration: 1000ms;
      }

      .main_block_description{
        margin-bottom: 15px;
      }

      a:nth-child(4){
        margin-bottom: 20px;
      }
    }

    .main_block_warranty{
      margin-bottom: 130px;

      .main_block_content{
        padding-bottom: 110px;
      }

      .main_block_description{
        max-width: 445px;
      }

      .main_block_description:nth-child(2){
        margin-bottom: 12px;
      }
    }

    .main_block_care{

      p:nth-child(2){
        margin-bottom: 12px;
        max-width: 450px;
      }

      p:nth-child(3){
        margin-bottom: 17px;
        max-width: 366px;
      }
      
      p:nth-child(3){
        max-width: 450px;
      }
    }
  }
}
